In [79]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
np.random.seed(0)
pd.options.display.max_columns = 500
pd.options.display.max_rows = 999

In [25]:
df_train = pd.read_csv("C2T1Data//C2T1_Train.csv")
df_train = df_train.replace({'?':np.nan})

In [26]:
df_train

,encounter_id2,patient_nbr2,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,5283,48330653,Caucasian,Female,[80-90),NaN,2,1,4,13,NaN,NaN,68,2,28,0,0,0,398,427,38,8,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO
1,8499,63555809,Caucasian,Female,[90-100),NaN,3,3,4,12,NaN,InternalMedicine,33,3,18,0,0,0,434,198,486,8,None,None,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO
2,9441,42519137,Caucasian,Male,[40-50),NaN,1,1,7,1,NaN,NaN,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO
3,20997,89868902,AfricanAmerican,Female,[40-50),NaN,1,1,7,9,NaN,NaN,47,2,17,0,0,0,250.7,403,996,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30
4,28515,82637321,Caucasian,Male,[50-60),NaN,2,1,2,3,NaN,NaN,31,6,16,0,0,0,414,411,250,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90761,443840309,100162346,AfricanAmerican,Male,[70-80),NaN,1,3,7,3,MC,NaN,51,0,16,0,0,0,250.13,291,458,9,None,>8,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,Yes,>30
90762,443840543,74694092,AfricanAmerican,Female,[80-90),NaN,1,4,5,5,MC,NaN,33,3,18,0,0,1,560,276,787,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,NO
90763,443846909,41088659,Caucasian,Male,[70-80),NaN,1,1,7,1,MC,NaN,53,0,9,1,0,0,38,590,296,13,None,None,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,Yes,NO
90764,443849927,31693541,Caucasian,Female,[80-90),NaN,2,3,7,10,MC,Surgery-General,45,2,21,0,0,1,996,285,998,9,None,None,No,No,No,No,No,No,Steady,No,No,Steady,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
90765,443859983,175429180,Caucasian,Male,[70-80),NaN,1,1,7,6,NaN,NaN,13,3,3,0,0,0,530,530,787,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO

In [27]:
def missing_values_table(df_train):
        mis_val = df_train.isnull().sum()
        mis_val_percent = 100 * df_train.isnull().sum() / len(df_train)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df_train.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns
missing_values_table(df_train)

Your selected dataframe has 50 columns.
There are 7 columns that have missing values.

                   Missing Values  % of Total Values
weight                      87840               96.8
medical_specialty           43674               48.1
payer_code                  38730               42.7
race                         2207                2.4
diag_3                       1357                1.5
diag_2                        336                0.4
diag_1                         17                0.0

In [28]:
#removing every column with more than 40% of missing values
df_train = df_train.drop(columns=['weight', 'medical_specialty', 'payer_code'])

In [29]:
#removing the rows that have missing values in column 'race'
df_train = df_train.dropna(subset=['race', 'diag_3', 'diag_1', 'diag_2'])

In [30]:
#replacing values in columns to a legit string to avoid any errors
df_train.A1Cresult = df_train.A1Cresult.replace({'>8':'Greater than 8', '>7':'Greater than 7'})

In [31]:
df_train.gender.value_counts()

Female             46955
Male               40239
Unknown/Invalid        1
Name: gender, dtype: int64

In [32]:
#removing the Undknow/Invalid enter in the gender #it would have been of no use!
df_train = df_train[df_train.gender != 'Unknown/Invalid']

In [34]:
#convert values starting with 'V' and 'E' to a numeric value so that Binning can be used on the whole column
df_train.loc[df_train['diag_1'].str.contains('V',na=False), 'diag_1'] = 1000
df_train.loc[df_train['diag_1'].str.contains('E',na=False), 'diag_1'] = 1000
df_train.diag_1.value_counts()

428       6001
414       5836
786       3523
410       3183
486       3012
427       2403
491       1910
715       1809
434       1793
682       1783
780       1743
996       1725
276       1642
1000      1437
38        1436
250.8     1407
599       1384
584       1291
250.6     1050
518        945
577        915
820        909
493        872
435        861
562        841
574        818
250.7      764
296        762
440        750
560        745
433        695
998        662
250.13     630
722        627
578        556
507        539
250.02     532
789        488
530        467
453        461
403        434
250.11     432
8          430
535        412
402        404
295        390
415        378
997        375
162        373
458        371
724        361
250.82     354
250.12     338
285        320
733        310
278        306
401        302
590        298
592        295
482        292
280        280
197        277
558        276
153        269
824        258
569        250
426        245
571        240
511        235
404        232
648        230
531        228
250.1      228
250.4      225
411        223
787        222
466        214
707        213
198        212
572        210
552        197
575        193
532        191
812        190
730        186
600        177
436        166
250        165
331        165
250.81     162
557        158
424        156
431        153
540        151
721        147
805        141
618        140
185        139
348        136
250.22     133
784        133
444        133
564        130
790        126
174        126
386        124
536        123
553        122
821        116
515        115
398        115
441        115
728        114
218        113
808        112
189        110
413        109
250.03     107
823        105
157        103
345         98
537         97
188         95
250.2       95
292         95
681         95
294         94
182         93
443         91
781         90
593         90
211         89
729         89
785         89
852         88
202         88
576         87
250.41      86
437         83
154         82
250.83      82
288         81
459         81
487         80
654         80
455         79
595         79
291         79
432         78
274         78
290         78
726         77
300         76
250.42      75
438         75
490         74
287         73
425         73
79          70
566         68
723         67
346         66
626         65
995         65
782         65
585         65
807         64
813         63
711         62
416         62
481         61
112         60
799         60
496         60
284         59
642         57
423         57
282         56
303         56
420         55
238         54
567         53
625         53
716         53
298         52
608         52
738         51
447         51
151         51
550         50
155         49
969         48
332         48
241         47
293         47
965         47
962         47
311         47
719         46
924         46
53          46
250.92      46
512         43
286         43
850         43
555         42
596         42
253         42
227         42
70          41
191         41
275         41
465         41
556         40
220         39
714         37
514         37
573         37
822         37
727         37
225         37
9           36
42          35
922         35
203         34
620         34
340         34
421         34
959         34
519         34
451         33
429         33
788         33
442         33
485         32
860         32
239         31
851         30
568         30
516         30
333         30
304         29
611         29
183         29
309         29
604         29
659         28
492         28
250.23      28
510         27
277         27
349         26
802         26
710         25
47          25
430         25
999         25
193         24
351         24
233         24
396         24
250.01      23
522         23
135         23
205         23
478         23
658         23
196         23
783         23
644         23
844         23
801         23
255         22
250.43      22
534         22
614         21
204         21
283         21
661         21
794         21
456         21
235         20
494         20
150         20
327         20
607         20
621         20
281         19
252         19
586         19
446         19
307         19
338         19
242         19
357         18
461         18
305         18
527         18
250.33      18
581         18
533         17
473         17
617         17
958         17
616         17
656         17
250.3       17
825         16
289         16
920         16
380         16
528         16
967         16
591         16
664         16
601         15
200         15
250.32      15
972         15
480         15
693         15
873         15
156         15
312         15
513         15
853         14
226         14
355         14
594         13
251         13
756         13
652         13
627         13
199         13
358         13
840         13
152         13
250.31      13
297         12
171         12
867         12
263         12
378         12
718         12
680         11
3           11
244         11
966         11
250.21      11
977         11
457         11
250.93      11
565         11
843         11
725         11
847         11
376         11
736         10
201         10
350         10
935         10
161         10
892         10
891         10
989         10
368         10
695         10
35          10
335          9
394          9
158          9
454          9
705          9
660          9
945          9
54           9
78           9
310          9
933          9
816          9
882          9
588          9
646          9
462          9
521          9
383          8
464          8
359          8
11           8
641          8
306          8
541          8
342          8
195          8
475          8
250.5        8
968          8
845          8
992          8
551          7
230          7
861          7
163          7
579          7
117          7
237          7
88           7
747          7
354          7
323          7
320          7
709          7
212          7
94           7
341          7
337          7
663          7
362          7
82           7
746          7
41           7
964          7
810          7
686          7
737          6
223          6
952          6
184          6
864          6
353          6
214          6
5            6
970          6
694          6
708          6
866          6
796          6
991          6
445          6
696          6
865          6
180          6
526          6
815          6
831          5
717          5
806          5
583          5
854          5
324          5
643          5
751          5
983          5
344          5
379          5
942          5
210          5
141          5
397          5
273          5
215          5
49           5
495          5
136          5
835          5
753          5
647          5
208          5
720          4
508          4
655          4
890          4
34           4
272          4
836          4
598          4
470          4
792          4
745          4
846          4
483          4
524          4
395          4
863          4
619          4
800          4
759          4
570          4
356          4
452          4
934          4
692          4
622          4
192          4
814          4
175          4
463          4
685          4
261          4
301          4
893          4
795          3
142          3
179          3
240          3
928          3
623          3
250.53       3
388          3
803          3
706          3
793          3
632          3
917          3
881          3
797          3
936          3
731          3
963          3
883          3
674          3
886          3
916          3
986          3
173          3
868          3
862          3
262          3
377          3
228          3
250.52       3
987          3
164          3
172          3
669          3
250.9        3
374          3
971          3
602          3
826          3
734          3
529          3
474          3
361          3
880          2
580          2
923          2
634          2
322          2
7            2
633          2
610          2
66           2
194          2
245          2
382          2
897          2
683          2
653          2
848          2
500          2
914          2
370          2
921          2
236          2
735          2
271          2
146          2
369          2
246          2
615          2
973          2
384          2
229          2
417          2
334          2
187          2
131          2
308          2
501          2
980          2
75           2
250.91       2
48           2
405          2
878          2
279          2
27           2
58           2
975          2
582          2
352          2
875          2
990          2
149          2
360          2
422          2
147          2
170          2
506          2
36           2
904          2
23           2
732          2
336          2
879          2
52           1
57           1
314          1
219          1
375          1
839          1
133          1
791          1
911          1
913          1
955          1
982          1
542          1
649          1
640          1
471          1
657          1
391          1
143          1
944          1
988          1
110          1
645          1
385          1
266          1
366          1
145          1
389          1
684          1
10           1
115          1
919          1
832          1
941          1
114          1
691          1
994          1
871          1
939          1
160          1
148          1
838          1
870          1
39           1
543          1
207          1
915          1
61           1
325          1
318          1
703          1
31           1
603          1
372          1
637          1
885          1
804          1
906          1
827          1
216          1
690          1
365          1
217          1
842          1
704          1
448          1
250.51       1
381          1
833          1
834          1
347          1
477          1
817          1
373          1
Name: diag_1, dtype: int64

In [35]:
#applying binning to diag_1 by taking its float value into bin_diag and then binning in values of bin_diag in bin_diag_1
#binning intervals are selected from 
bins = [1, 140, 240, 280, 290, 320, 390, 460, 520, 580, 630, 680, 710, 740, 760, 780, 800, 1000, 1200]
df_train['bin_diag'] = df_train.diag_1.astype('float')
df_train['bin_diag_1'] = pd.cut(df_train['bin_diag'], bins=bins, right=False)
df_train

,encounter_id2,patient_nbr2,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,bin_diag,bin_diag_1
0,5283,48330653,Caucasian,Female,[80-90),2,1,4,13,68,2,28,0,0,0,398,427,38,8,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO,398.00,"[390, 460)"
1,8499,63555809,Caucasian,Female,[90-100),3,3,4,12,33,3,18,0,0,0,434,198,486,8,None,None,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO,434.00,"[390, 460)"
2,9441,42519137,Caucasian,Male,[40-50),1,1,7,1,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO,197.00,"[140, 240)"
3,20997,89868902,AfricanAmerican,Female,[40-50),1,1,7,9,47,2,17,0,0,0,250.7,403,996,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30,250.70,"[240, 280)"
4,28515,82637321,Caucasian,Male,[50-60),2,1,2,3,31,6,16,0,0,0,414,411,250,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30,414.00,"[390, 460)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90761,443840309,100162346,AfricanAmerican,Male,[70-80),1,3,7,3,51,0,16,0,0,0,250.13,291,458,9,None,Greater than 8,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,Yes,>30,250.13,"[240, 280)"
90762,443840543,74694092,AfricanAmerican,Female,[80-90),1,4,5,5,33,3,18,0,0,1,560,276,787,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,NO,560.00,"[520, 580)"
90763,443846909,41088659,Caucasian,Male,[70-80),1,1,7,1,53,0,9,1,0,0,38,590,296,13,None,None,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,Yes,NO,38.00,"[1, 140)"
90764,443849927,31693541,Caucasian,Female,[80-90),2,3,7,10,45,2,21,0,0,1,996,285,998,9,None,None,No,No,No,No,No,No,Steady,No,No,Steady,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO,996.00,"[800, 1000)"
90765,443859983,175429180,Caucasian,Male,[70-80),1,1,7,6,13,3,3,0,0,0,530,530,787,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,530.00,"[520, 580)"

In [57]:
#now labeling all of the categorical features/columns using sklearn library (LabelEncoder)
#better coding practices can be followed to implement the below code - I would optimize this after completing the code!

lb_make = LabelEncoder()
df_train['race_code'] = lb_make.fit_transform(df_train['race'])
df_train['gender_code'] = lb_make.fit_transform(df_train['gender'])
df_train['max_glu_serum_code'] = lb_make.fit_transform(df_train['max_glu_serum'])
df_train['age_code'] = lb_make.fit_transform(df_train['age'])
df_train['A1Cresult_code'] = lb_make.fit_transform(df_train['A1Cresult'])
df_train['insulin_code'] = lb_make.fit_transform(df_train['insulin'])
df_train['change_code'] = lb_make.fit_transform(df_train['change'])
df_train['diabetesMed_code'] = lb_make.fit_transform(df_train['diabetesMed'])
df_train['bin_diag_1_code'] = lb_make.fit_transform(df_train['bin_diag_1'])
df_train

,encounter_id2,patient_nbr2,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,bin_diag,bin_diag_1,race_code,gender_code,max_glu_serum_code,age_code,A1Cresult_code,insulin_code,change_code,diabetesMed_code,bin_diag_1_code
0,5283,48330653,Caucasian,Female,[80-90),2,1,4,13,68,2,28,0,0,0,398,427,38,8,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO,398.00,"[390, 460)",2,0,2,8,2,2,0,1,6
1,8499,63555809,Caucasian,Female,[90-100),3,3,4,12,33,3,18,0,0,0,434,198,486,8,None,None,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO,434.00,"[390, 460)",2,0,2,9,2,2,0,1,6
2,9441,42519137,Caucasian,Male,[40-50),1,1,7,1,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO,197.00,"[140, 240)",2,1,2,4,2,2,0,1,1
3,20997,89868902,AfricanAmerican,Female,[40-50),1,1,7,9,47,2,17,0,0,0,250.7,403,996,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30,250.70,"[240, 280)",0,0,2,4,2,2,1,1,2
4,28515,82637321,Caucasian,Male,[50-60),2,1,2,3,31,6,16,0,0,0,414,411,250,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30,414.00,"[390, 460)",2,1,2,5,2,2,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90761,443840309,100162346,AfricanAmerican,Male,[70-80),1,3,7,3,51,0,16,0,0,0,250.13,291,458,9,None,Greater than 8,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,Yes,>30,250.13,"[240, 280)",0,1,2,7,1,0,0,1,2
90762,443840543,74694092,AfricanAmerican,Female,[80-90),1,4,5,5,33,3,18,0,0,1,560,276,787,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,NO,560.00,"[520, 580)",0,0,2,8,2,2,1,1,8
90763,443846909,41088659,Caucasian,Male,[70-80),1,1,7,1,53,0,9,1,0,0,38,590,296,13,None,None,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,Yes,NO,38.00,"[1, 140)",2,1,2,7,2,0,0,1,0
90764,443849927,31693541,Caucasian,Female,[80-90),2,3,7,10,45,2,21,0,0,1,996,285,998,9,None,None,No,No,No,No,No,No,Steady,No,No,Steady,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO,996.00,"[800, 1000)",2,0,2,8,2,3,0,1,15
90765,443859983,175429180,Caucasian,Male,[70-80),1,1,7,6,13,3,3,0,0,0,530,530,787,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,530.00,"[520, 580)",2,1,2,7,2,1,1,0,8

In [62]:
df_train['truth_le'] = lb_make.fit_transform(df_train['readmitted'])
df_train.truth_le.value_counts()

2    46929
1    30372
0     9893
Name: truth_le, dtype: int64

In [63]:
df_train

,encounter_id2,patient_nbr2,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,bin_diag,bin_diag_1,race_code,gender_code,max_glu_serum_code,age_code,A1Cresult_code,insulin_code,change_code,diabetesMed_code,bin_diag_1_code,truth_le
0,5283,48330653,Caucasian,Female,[80-90),2,1,4,13,68,2,28,0,0,0,398,427,38,8,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO,398.00,"[390, 460)",2,0,2,8,2,2,0,1,6,2
1,8499,63555809,Caucasian,Female,[90-100),3,3,4,12,33,3,18,0,0,0,434,198,486,8,None,None,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO,434.00,"[390, 460)",2,0,2,9,2,2,0,1,6,2
2,9441,42519137,Caucasian,Male,[40-50),1,1,7,1,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO,197.00,"[140, 240)",2,1,2,4,2,2,0,1,1,2
3,20997,89868902,AfricanAmerican,Female,[40-50),1,1,7,9,47,2,17,0,0,0,250.7,403,996,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30,250.70,"[240, 280)",0,0,2,4,2,2,1,1,2,1
4,28515,82637321,Caucasian,Male,[50-60),2,1,2,3,31,6,16,0,0,0,414,411,250,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30,414.00,"[390, 460)",2,1,2,5,2,2,1,1,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90761,443840309,100162346,AfricanAmerican,Male,[70-80),1,3,7,3,51,0,16,0,0,0,250.13,291,458,9,None,Greater than 8,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,Yes,>30,250.13,"[240, 280)",0,1,2,7,1,0,0,1,2,1
90762,443840543,74694092,AfricanAmerican,Female,[80-90),1,4,5,5,33,3,18,0,0,1,560,276,787,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,NO,560.00,"[520, 580)",0,0,2,8,2,2,1,1,8,2
90763,443846909,41088659,Caucasian,Male,[70-80),1,1,7,1,53,0,9,1,0,0,38,590,296,13,None,None,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,Yes,NO,38.00,"[1, 140)",2,1,2,7,2,0,0,1,0,2
90764,443849927,31693541,Caucasian,Female,[80-90),2,3,7,10,45,2,21,0,0,1,996,285,998,9,None,None,No,No,No,No,No,No,Steady,No,No,Steady,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO,996.00,"[800, 1000)",2,0,2,8,2,3,0,1,15,2
90765,443859983,175429180,Caucasian,Male,[70-80),1,1,7,6,13,3,3,0,0,0,530,530,787,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,530.00,"[520, 580)",2,1,2,7,2,1,1,0,8,2

In [64]:
new_df = pd.concat((df_train.iloc[:,5:15], df_train.iloc[:, 49:58]), axis = 1)
df_col_fnl = new_df.columns
trial_one = new_df.copy()
df_col_fnl #not the best of the naming conventions - but its okay, we don't need this much.

Index(['admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'race_code', 'gender_code', 'max_glu_serum_code',
       'age_code', 'A1Cresult_code', 'insulin_code', 'change_code',
       'diabetesMed_code', 'bin_diag_1_code'],
      dtype='object')

In [66]:
trial_one

,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,race_code,gender_code,max_glu_serum_code,age_code,A1Cresult_code,insulin_code,change_code,diabetesMed_code,bin_diag_1_code
0,2,1,4,13,68,2,28,0,0,0,2,0,2,8,2,2,0,1,6
1,3,3,4,12,33,3,18,0,0,0,2,0,2,9,2,2,0,1,6
2,1,1,7,1,51,0,8,0,0,0,2,1,2,4,2,2,0,1,1
3,1,1,7,9,47,2,17,0,0,0,0,0,2,4,2,2,1,1,2
4,2,1,2,3,31,6,16,0,0,0,2,1,2,5,2,2,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90761,1,3,7,3,51,0,16,0,0,0,0,1,2,7,1,0,0,1,2
90762,1,4,5,5,33,3,18,0,0,1,0,0,2,8,2,2,1,1,8
90763,1,1,7,1,53,0,9,1,0,0,2,1,2,7,2,0,0,1,0
90764,2,3,7,10,45,2,21,0,0,1,2,0,2,8,2,3,0,1,15
90765,1,1,7,6,13,3,3,0,0,0,2,1,2,7,2,1,1,0,8

In [67]:
labels = np.array(df_train['truth_le'])
labels

array([2, 2, 2, ..., 2, 2, 2])

In [68]:
features_list = list(trial_one.columns)
features_list

['admission_type_id',
 'discharge_disposition_id',
 'admission_source_id',
 'time_in_hospital',
 'num_lab_procedures',
 'num_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'race_code',
 'gender_code',
 'max_glu_serum_code',
 'age_code',
 'A1Cresult_code',
 'insulin_code',
 'change_code',
 'diabetesMed_code',
 'bin_diag_1_code']

In [69]:
trial_one = np.array(trial_one)

In [70]:
train_features, test_features, train_labels, test_labels = train_test_split(trial_one, labels, test_size = 0.25, random_state = 42)

In [73]:
train_features.shape

(65395, 19)

In [74]:
test_features.shape

(21799, 19)

In [75]:
train_labels.shape

(65395,)

In [76]:
test_labels.shape

(21799,)

In [97]:
#Train the random forest classifier
rand_clas = RandomForestClassifier(n_jobs=2, random_state=0, n_estimators=900)
rand_clas.fit(train_features, train_labels)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=900, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [98]:
rand_clas.predict(test_features)

array([2, 2, 2, ..., 2, 2, 2])

In [99]:
predictions = rand_clas.predict(test_features)

In [100]:
errors = abs(predictions - test_labels)
print('Mean Absolute Error:', round(np.mean(errors), 2), '??')

Mean Absolute Error: 0.49 ??

In [101]:
#performance matrics
#mape = 100* (errors/test_labels)
#accuracy = 100- np.mean(mape)

#print('Accuracy:', round(accuracy, 2), '%')

Accuracy: nan %

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

In [102]:
pd.crosstab(test_labels, predictions, rownames=['Actual'], colnames=['Predicted'])

Predicted   0     1     2
Actual
0          58   965  1415
1          50  2917  4667
2          47  2143  9537